/* color properties */
body{
    background-color: yellow;
}
h1{
    color: red;
}

h2{
    color: blue;
}

/* color system
1. Rgb
2.hax  */

/* id and classes */

.para1{
background-color: rgb(155, 42, 42);
}

#para2{
    color: rgb(134, 47, 216);
    background-color:rgb(116, 101, 101) ;
}


/* hax color */

#hax1,.hax2{
    background-color: #00ff00;
}